{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home page{% endblock %}

{% block body %}
    <h2>aaa</h2>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>bbb</p>
    <p>ccc</p>
{% endblock %}