<nav class="navbar navbar-default navbar-collapse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li>
                <a href="?">
                    <img src="{{ asset('bundles/core/image/logoCF.png') }}" title="Castelli Forni" alt="Castelli Forni" class="logoHP" />
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archivi di base<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="?bb/articoli/list">Articoli</a></li>
                    <li><a href="?bb/codDes/list|categorie_articoli">Categorie articoli</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="?bb/codDes/list|aspetto_dei_beni">Aspetto dei beni</a></li>
                    <li><a href="?bb/banche/list">Banche</a></li>
                    <li><a href="?bb/codDes/list|causali_di_trasporto">Causali di trasporto</a></li>
                    <li><a href="?">Calendario</a></li>
                    <li><a href="?bb/clienti_fornitori/list">Clienti e fornitori</a></li>
                    <li><a href="?bb/coordinate_bancarie/list">Coordinate bancarie</a></li>
                    <li><a href="?bb/frasi_documenti/list">Frasi documenti</a></li>
                    <li><a href="?bb/geografiche/edit">Geografiche</a></li>
                    <li><a href="?bb/codDes/list|modalita_di_pagamento">Modalit&agrave; di pagamento</a></li>
                    <li><a href="?bb/codDes/list|tipi_email">Tipi Email</a></li>
                    <li><a href="?bb/codDes/list|tipi_indirizzi">Tipi Indirizzi</a></li>
                    <li><a href="?bb/codDes/list|tipi_numeri">Tipi Numeri</a></li>
                    <li><a href="#">Vettori</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestioni<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Preventivi</a></li>
                    <li><a href="#">Commissioni</a></li>
                    <li><a href="#">Schede di carico</a></li>
                    <li><a href="#">Fatture</a></li>
                    <li><a href="#">Documenti di trasporto</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stampe<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Aspetto dei beni</a></li>
                    <li><a href="#">Banche</a></li>
                    <li><a href="#">Coordinate bancarie</a></li>
                    <li><a href="#">Geografiche</a></li>
                    <li><a href="#">Modalit&agrave; di pagamento</a></li>
                    <li><a href="#">Tipi Email</a></li>
                    <li><a href="#">Tipi Indirizzi</a></li>
                    <li><a href="#">Tipi Numeri</a></li>
                    <li><a href="#">Vettori</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Clienti e fornitori</a></li>
                    <li><a href="#">Rubrica</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Vendite</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>