<div class="modal fade" id="messaggio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titoloMessaggio"></h4>
                <img src="" style="float:left;margin-right:10px;" id="immagineModale" />
                <div style="margin: 5px;height:60px;padding-left:5px;line-height:60px;" id="divMessaggio"></div>
            </div>
        </div>
    </div>
</div>